<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistem_Informasi_Pendataan_Pasien_Klinik.Properties.Settings.klinik_dbConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=klinik_db;Integrated Security=True;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>